//==============================================================================
// Layout
//==============================================================================

html {

}

html, body {
	background-color : #fff;
	height           : 100%;
	margin           : 0;
	max-width        : 100vw;
	min-height       : fit-content;
	min-width        : 100vw;
	// min-height : 100dvh;
	overflow-x       : hidden;
	padding          : 0;
	width            : 100vw;
}

body {
	display         : flex;
	flex-direction  : column;
	justify-content : space-between;
}

main {
	flex-grow : 1;
	margin    : 4rem 0 0;
	// padding : 2rem 0;
	width     : 100%;
	@media screen and (min-width : 600px) {
		margin-top : 0 !important;
	}
}

section:not(.page-header), .page-header > hgroup {
	@extend %container;
}

.page-header {
	margin  : 0;
	padding : 2rem 0;
	width   : 100%;
}

section:not(.page-header) {
	margin-bottom : 2rem;
	padding       : 2rem 0;
}

body > footer:last-of-type {
	background-color : whitesmoke;
	margin           : 0;
	padding          : 2rem 0;
	text-align       : center;
	width            : 100%;
	p {
		color       : gray;
		font-size   : small;
		font-weight : 500;
		line-height : 1;
		margin      : 0 auto;
		text-align  : center;
	}
}

body > header:first-of-type {

}
